.app{
    width: 80%;
    height: 45%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    align-content: space-between;
    /* justify-content: center; */
    /* align-items: center; */
    margin: 20px auto;
    background-color: rgba(rgb(17, 1, 1), green, blue, alpha);
    
}